<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ImageFiltersConfiguration" type="ImageCleaner.ImageFiltersConfiguration, ImageCleaner"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup> 

  <ImageFiltersConfiguration>
    <ImageFilters>
      <ImageFilter Key="a" SubdirectoryName="A"/>
    </ImageFilters>
  </ImageFiltersConfiguration>
</configuration>