<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="ImageFiltersConfiguration" type="ImageCleaner.ImageFiltersConfiguration, ImageCleaner"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <ImageFiltersConfiguration>
    <ImageFilters>
      <ImageFilter Key="a" SubdirectoryName="A"/>
    </ImageFilters>
  </ImageFiltersConfiguration>

  <system.diagnostics>
    <sources>
      <source name="Trace" switchName="LevelSwitch">
        <listeners>
          <remove name="Default"/>
          <add name="TraceListener"/>
          <!-- Uncomment to connect the event log. -->
          <!-- <add name="TraceEventLog" />-->
          <!-- Uncomment to connect the event log. -->
          <!-- <add name="TraceDelimited" />-->
          <!-- Uncomment to connect the XML log. -->
          <!-- <add name="TraceXml" />-->
          <!-- Uncomment to connect the console log. -->
          <!-- <add name="TraceConsole" />-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="LevelSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="TraceListener" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" location="Custom" customLocation ="Logs" logFileCreationSchedule="Daily" baseFileName="ImageCleaner"/>
      <add name="TraceEventLog" type="System.Diagnostics.EventLogTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="ImageCleaner"/>
      <add name="TraceDelimited" type="System.Diagnostics.DelimitedListTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\ImageCleaner.txt" />
      <add name="TraceXml" type="System.Diagnostics.XmlWriterTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="c:\temp\ImageCleaner.xml" />
      <add name="TraceConsole" type="System.Diagnostics.ConsoleTraceListener, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" initializeData="true" />
    </sharedListeners>
    <trace autoflush="true" indentsize="4">
    </trace>
  </system.diagnostics>

</configuration>