################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.user
bin/
obj/
StyleCop.cache
/packages/
/TextRecognitionWrapper/x64
/TextRecognitionWrapper/x86
.vs/
